.landing-header, .feedback-thanks-header {
  padding-top: 30vh;
  padding-bottom: 25vh;
}

.landing-title{
  font-size: 150px;
}

.landing-description, .feedback-thanks-description {
  font-size: 25px;
}

.landing-navigator {
  padding-top: 18vh;
}

.landing-description-more {
  margin-bottom: 25vh;
}

.description-more-title {
  font-size: 75px;
}

.description-more-paragraph {
  margin-top: 10vh;
  font-size: 25px;
}

.paragraph-mt {
  margin-top: 5vh;
}

.landing-thanking {
  margin-bottom: 45vh;
}

.thanking-title {
  font-size: 75px;
}

.thanking-list {
  margin-top: 10vh;
}

.contributor-text {
  font-size: 25px;
}

nav>a.footer-title {
  font-size: 40px;
}
