.side-bar {
  background-color: #F8F8F8;
}

.tab-default {
  width: 1vh;
  height: 3vw;
  display: inline-block;
  vertical-align: middle;
}

.tab-active {
  background-color: #00CCFF;
}

.code-editor {
  width: 100%;
  height: 50vh;
  resize: none;
  font-size: 20px;
  padding: 1rem;
}

.code-show {
  width: 100%;
  height: 50vh;
  border: 2px solid pink;
  padding: 1rem;
}

.guide {
  width: 100%;
  height: fit-content;
  border: 2px solid black;
  padding: 1rem;
}

.prev-button {
  /* display: none; */
}

.highlight-text {
  color: red;
}

.full-page {
  width: 100vw;
  height: 100vh;
}

.tutorials-title {
  font-size: 50px;
}

.tutorials-text {
  font-size: 25px;
}

.tutorials-first-title {
  font-size: 35px;
}

.tutorials-guide-title {
  font-size: 30px;
}

.tutorials-guide-text {
  font-size: 18px;
}

.tutorials-route-code {
  font-size: 18px;
  width: 100%;
  height: fit-content;
  /* border: 2px solid black; */
  padding: 1rem;
}

.btn-row-margin {
  margin-left: 50vw;
}
